/* html {
    height: 100vh;
  } */
  
 

/* PC  */
@media (min-width: 720px) {
    canvas {

        /* margin-top: 7%; */
        z-index: 0;
        object-fit: cover;
        /* left: 50%;
        top: 50%; */

        /* transform: translate(0%, 25%); */

        max-width: 98vw;
        max-height: 99vh;
        scale: 1;
        
        margin-bottom:  160px;
        
      }
      section.frames {

        z-index: 0;
        /* height: 725vh;
         */
        /* height: 600vh; */
        height: 5000px;



        position: relative;
        background: #fefefe;
        top: 0;

      }
      section.frames div.holder {
        position: sticky;
        top: 0;
    }
    section.frames div.story div {
        height: 108vh;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
    }
      
}


  /* PC pantalla celu VIDEO*/
@media (max-width: 768px) {
    canvas {
    
        /* position: fixed; */
        /* object-fit: cover; */
        /* left: 0%; */
        /* top: 50%; */
        /* transform: translate(-50%, -70%); */
        /* max-width: 70vw; */
        /* max-width: 90vw;*/
        /* max-height: 90vh;  */
        /* width: 100%;
        height: 80%; */
        /* max-width: 100%;
        max-height: 30vh; */
        max-width: 97vw;
        max-height: 99vh;

        /* transform: translate(0%, 130%); */

        /* width: 600px;
        height: 550px; */
        /* scale: 1.5; */
        /* padding-bottom: 100%; */
        z-index: -20;
        top: -100%;
        
        padding-top:  -25vh;
      }
      section.frames {
        /* height: 4000px; */
        z-index: 0;
        height: 2500px;
        /* height: 580vh; */
        position: relative;
        background: #fefefe;
        top: 0;
        /* overflow: hidden; */
    
    
      }
      section.frames div.holder {
        position: sticky;
        top: 0;
    }
}



/* @media (min-width: 768px) {
    section.frames div.story {
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        color: var(--primary-color);
    }
section.frames div.story div {
    height: 650vh;


    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    
}

} */

  /* PC pantalla celu DIFERENCIALES*/
@media (max-width: 768px) {
    section.frames div.story {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: var(--primary-color);
    }
    section.frames div.story div {
        height: 108vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    }
}


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.intro{
    height: 100vh;
}
.intro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.intro h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    font-size:  40px;
    color: red;
}

section{
    height: 100vh;
    color: gray;
}

section h1{
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
} */