@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .force-row ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 10px;
        /* background-color: grey; */
    }
    .force-row li {
        border-radius: 0px;
        padding: 0px;
        border: 5px;
        
        /* background-color: red; */
    }
    :hover {
        /* background-color: mid; */
        box-shadow: none;
    }
    /* .card {
        background-color: #fff;
        &:hover {
            background-color: #000;
        }
    }

    .card-footer {
        background-color: #fff;
        transition: background-color 0.2s ease-in-out;
    } */

    
}
