/* html {
    height: 100vh;
  } */
  
  section {
    
    height: 500vh;
    background: #fefefe;
    top: 0;

  }

/* PC */
@media (min-width: 720px) {
    canvas {
    
        position: fixed;
        object-fit: cover;
        left: 50%;
        top: 50%;
        transform: translate(-80%, -50%);
        max-width: 85vw;
        max-height: 85vh;
        margin-bottom:  160px;
      }
}

  /* PC pantalla celu */
@media (max-width: 720px) {
    canvas {
    
        position: fixed;
        object-fit: cover;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -70%);
        /* max-width: 70vw; */
        max-height: 60vh;
        /* width: 600px;
        height: 550px; */
        margin-bottom:  160px;
      }
}

 

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.intro{
    height: 100vh;
}
.intro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.intro h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    font-size:  40px;
    color: red;
}

section{
    height: 100vh;
    color: gray;
}

section h1{
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
} */